/* Container for all cards */
.custom-cards-container {
  padding: 130px 0;
  position: relative;
  display: flex; /* Flexbox pour aligner les éléments */
  flex-direction: column; /* Colonne pour que le contenu soit empilé verticalement */
  justify-content: flex-start;
}

.container-title-container {
  background-color: #243040;
  padding: 100px 0;
}

.title-custom-card {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

/* Flexbox wrapper for the cards */
.custom-cards-wrapper {
  display: flex;
  justify-content: center; /* Centre les cartes */
  gap: 0px; /* Élimine tout espace entre les cartes */
  flex-wrap: wrap; /* Permet de gérer les petits écrans en les empilant */
  margin-top: -50px; /* Supprime tout margin autour du wrapper */
}

/* Each card container */
.custom-card-container {
  position: relative;
  margin: 0; /* Enlève tout espace entre les cartes */
  padding: 0; /* Élimine tout padding interne */
}

.title-about-card {
  width: 50%;
  background-color: #000;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0 auto;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  height: 60px; /* Hauteur fixe pour uniformiser les titres */
  display: flex;
  align-items: center; /* Centre verticalement le texte dans le titre */
  justify-content: center; /* Centre horizontalement le texte dans le titre */
}

/* Apply hover on each card container */
.custom-card-container:hover .title-about-card {
  transform: translateY(0); /* Animation déclenchée au survol du conteneur */
  cursor: default;
  height: 100%;
}

.paragraphe-about-card {
  height: 100px;
}

.custom-card-container:hover .paragraphe-about-card {
  cursor: default;
  opacity: 1; /* Affiche le texte seulement lors du survol */
  font-weight: 1000; /* Change la police au survol */
  height: 100%;
}

/* Each card */
.custom-card {
  position: relative;
  padding: 0; /* Supprime le padding pour que les cartes se rapprochent */
  text-align: center;
}

/* Responsive image */
.custom-responsive-image {
  width: 100%; /* L'image occupe tout l'espace disponible dans son conteneur */
  height: 450px; /* Garde les proportions */
  max-width: 550px; /* Limite la taille maximale de l'image */
  object-fit: cover;
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); /* Forme personnalisée */
  box-shadow: none; /* Retire l'ombre pour éviter l'effet de bordure */
  margin: 0; /* Enlève tout margin autour de l'image */
  padding: 0; /* Supprime tout padding */
  border: none; /* Supprime toute bordure potentielle */
}

/* Forcer les cartes à être collées */
.custom-card-container + .custom-card-container  {
  margin-left: -115px; /* Élimine tout écart entre les cartes successives */
}

.about-custom-card {
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 1rem;
  left: -2rem;
  text-align: center;
  width: 100%;
}

.title-about-card {
  width: 50%;
  background-color: #000;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0 auto;
  transform: translateY(100%); /* Hidden by default */
  transition: transform 0.3s ease-in-out;
}

.paragraphe-about-card {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0; /* Hidden by default */
  margin: 0 auto;
  width: 60%;
  justify-content: right;
  transition: opacity 0.3s ease-in-out;
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
  .custom-card-container + .custom-card-container {
    margin-top: 20px;
    margin-left: 0; /* Enlève le décalage sur petits écrans */
  }
  .title-about-card {
    font-size: 1rem;
  }

  .paragraphe-about-card {
    font-size: 12px;
  }
}
