.service-gaf {
  display: flex;
  padding-bottom: 60px;
  .service-block-1{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
}

@media screen and (max-width: 968px) {
  .service-gaf {
    display: block;
  }
}

@media screen and (max-width: 968px) {
  .service-gaf {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .service-block-2{

  }
}
