/*------------------------------------------------
    blog style
------------------------------------------------*/
.single-blog-inner {
  margin-bottom: 30px;
  &.style-2 {
    margin-bottom: 40px;
    .details {
      padding: 37px 40px 40px;
      h2 {
        margin-bottom: 15px;
        line-height: 50px;
      }
      p {
        margin-bottom: 25px;
      }
    }
    .blog-meta {
      border-bottom: 0;
      padding-bottom: 0;
      margin: 0 0 1px 0;
    }
  }
  .thumb {
    position: relative;
    overflow: hidden;
    img {
      transform: scale(1.05);
      transition: 0.9s;
      width: 100%;
    }
    .video-play-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .details {
    padding: 32px 30px;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 6px 30px rgba(7, 36, 95, 0.08);
    h4 {
      margin-bottom: 0px;
      font-weight: 500;
      font-size: 30px;
      line-height: 38px;
      &:hover a {
        color: #fb493d;
      }
    }
    .read-more-text {
      font-weight: 600;
      font-size: 14px;
    }
    p {
      font-size: 16px;
    }
  }
  &:hover {
    .thumb {
      img {
        transform: scale(1.1);
      }
    }
  }
}