/************** feature-wrap ***************/
.feature-area {
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(0, 35, 90, 0.1);
  border-radius: 20px;
  padding: 40px;
  position: relative;
  top: -60px;
  z-index: 2;
}

/************** about-thumb-wrap ***************/
.about-inner-wrap {
  margin-left: 58px;

  .section-title {
    .content {
      margin-top: 10px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 500;
      color: var(--heading-color);
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    border-top: 1px solid #d9d9d9;
    margin-top: 25px;
    padding-top: 30px;

    .btn {
      margin-top: 0;
    }

    .author-wrap {
      margin: 0 auto;
      text-align: center;
      display: flex;
      align-items: center;

      img {
        flex: none;
        margin-right: 20px;
      }

      p {
        margin-bottom: 0;
        border-top: 1px solid #e4e4e4;
        margin-top: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #4d5765;
      }
    }
  }
}

/*****fact-counter-area******/
.fact-counter-area {
  border-top: 5px solid var(--main-color);
  padding: 39px 45px 11px;
  transform: translate(0px, -114px);
  margin-bottom: -114px;
}

.single-fact-wrap {
  position: relative;
  margin-bottom: 30px;
  padding-left: 15px;

  &:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    height: 140px;
    width: 4px;
    transform: translate(0, -50%);
    background: var(--main-color);
  }

  h2 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 57px;
    margin-bottom: 8px;
  }

  h5 {
    line-height: 31px;
    color: #fff;
    margin-bottom: 10px;
  }

  p {
    line-height: 26px;
    color: #d6d6d6;
    margin-bottom: 0;
  }
}

/*******call-to-contact-area********/
.call-to-contact-area {
  margin-top: -120px;
  position: relative;
  z-index: 0;

  img {
    position: absolute;
    width: 73.5%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .section-title {
    .subtitle {
      background-size: 98% 100%;
    }
  }
}

.cta-inner-wrap {
  background: url("~/public/assets/img/contact/bg.png");
  padding: 40px 50px;
}

.single-cta-wrap {
  display: flex;
  margin-top: 24px;
  align-items: center;
  margin-bottom: 41px;
  margin-left: 14px;

  .icon {
    width: 50px;
    height: 50px;
    flex: none;
    background: var(--main-color);
    line-height: 52px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      background: rgba(36, 48, 64, 0);
      opacity: 0.3;
      height: 76px;
      width: 76px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  .details {
    margin-left: 33px;

    h6 {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      margin-bottom: 5px;
    }

    h3 {
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      color: var(--main-color);
      margin-bottom: 0;
    }
  }
}

/***********portfolio area**********/
.portfolio-area {
  background-position: center !important;
  background-size: cover !important;

  .section-title {
    margin-bottom: 50px;
  }

  .slick-slider {
    .slick-slide {
      transition: $transition;

      .single-portfolio-wrap {
        z-index: 9;
        transition: $transition;
        margin: 84px 0;
        position: relative;

        .portfolio-details {
          position: absolute;
          left: 0;
          bottom: 0;
          background: #fff;
          border-radius: 5px;
          margin: 20px;
          padding: 20px 23px 16px 22px;
          display: flex;
          align-items: center;
          opacity: 0;
          transition: $transition;

          .details {
            p {
              font-weight: 500;
              font-size: 10px;
              line-height: initial;
              color: var(--main-color);
              margin-bottom: 9px;
            }

            h4 {
              font-size: 17px;
              margin-bottom: 0;
            }
          }

          .icon {
            height: 28px;
            width: 28px;
            background: var(--main-color);
            border-radius: 5px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            margin-left: auto;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &.slick-center {
        position: relative;
        z-index: 9;
        transform: scale(1.7);

        .portfolio-details {
          opacity: 1;
        }
      }
    }

    .slick-next {
      left: auto;
      right: 205px;
      z-index: 9;
      top: -85px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #fff;
      color: var(--main-color);
      padding: 18px;
      box-shadow: 0px 8px 20px rgba(7, 36, 95, 0.15);
      transition: all 0.2s linear;

      &:hover {
        background: var(--main-color);
        color: #fff;
      }
    }

    .slick-prev {
      left: auto;
      right: 125px;
      z-index: 9;
      top: -85px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #fff;
      color: var(--main-color);
      padding: 18px;
      box-shadow: 0px 8px 20px rgba(7, 36, 95, 0.15);
      transition: all 0.2s linear;

      &:hover {
        background: var(--main-color);
        color: #fff;
      }
    }
  }
}

/********partner area*********/

.partner-slider {
  margin-top: -100px;

  .thumb {
    cursor: pointer;

    &:hover {
      img {
        filter: grayscale(0);
      }
    }

    img {
      width: 150px;
      margin: 150px;
      filter: grayscale(1);
      transition: $transition;
    }
  }
  .owl-nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .partner-slider {
    .thumb {
      img {
        width: 90px;
        margin: 100px;
      }
    }
  }
}

/******contact area*******/
.contact-area {
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(8, 12, 36, 0.08);

  .contact-form {
    padding: 29px 40px 40px;

    h3 {
      border-bottom: 2px solid var(--main-color);
      margin-bottom: 40px;
      padding-bottom: 4px;
    }
  }
}

.contact-information-wrap {
  background: var(--main-color);
  padding: 29px 40px 40px;

  h3 {
    border-bottom: 2px solid #fff;
    margin-bottom: 40px;
    padding-bottom: 4px;
    color: #fff;
  }

  .single-contact-info-wrap {
    background: #fff;
    border-radius: 5px;
    padding: 23px 30px 27px;
    margin-bottom: 24px;

    h6 {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 9px;
    }

    .media {
      display: flex;

      .icon {
        flex: none;
        height: 50px;
        width: 50px;
        line-height: 50px;
        background: var(--main-color);
        border-radius: 5px;
        text-align: center;
        color: #fff;
        margin-right: 10px;
        font-size: 20px;
      }

      p {
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }
}

.contact-g-map {
  margin-bottom: -11px;

  iframe {
    line-height: 1 !important;
    border: 0;
    width: 100%;
    height: 600px;
  }
}